body {
    display: grid;
    align-items: center;
    justify-content: center;
    background: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: gold;
}

p {
    text-align: center;
    color: gold;
    font-style: oblique;
}

img {
    height: 220px;
}

.start-grid {
    display: flex;
}

#main-butt {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    display: block;
    background-color: rgb(109, 22, 22);
    border: none;
    color: gold;
}

#main-butt:hover {
    background-color: gold;
    color: rgb(109, 22, 22);
}

#second-butt {
    background-color: rgb(21, 172, 21);
    border: none;
}

#second-butt:hover {
    background-color: rgb(6, 136, 6);
}

.register {
    background: url(./images/register-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.login {
    background: url(./images/login-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.menu {
    background: green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

@media (max-width: 810px) {

    body {
        background: url(./images/background-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .start-grid {
        display: block;
    }

    .register {
        background: url(./images/register-background-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .login {
        background: url(./images/login-background-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
}